
//GLOBALS, GET DEFAULTS
@import "globals/_reset";
@import "globals/_variables";
@import "globals/_mixins";
@import "globals/_extends";

// LIBRARIES (if any)

// SITE SPECIFIC
@import "partials/_variables";
@import "partials/_z-index";
@import "partials/_extends";
@import "partials/_default";



@import "partials/aside";


html { background-size:cover; background-image:url(../img/bg/bg1.jpg); background-attachment: fixed; background-position: top center; }

.inner { width: 100%; max-width: 920px; margin-left:auto; margin-right: auto; }

.question { 
  dt { font-family: $headline; font-size:3rem; text-align: center; line-height: 112%; margin-bottom: 1em;
    text-shadow:  1px 1px 1px #616161,
                  1px 2px 1px #717171,
                  1px 3px 1px #616161,
                  1px 4px 1px #616161,
                  1px 5px 1px #616161,
                  1px 7px 6px rgba(16,16,16,0.4),
                  1px 14px 10px rgba(16,16,16,0.2),
                  1px 20px 35px rgba(16,16,16,0.2),
                  1px 25px 60px rgba(16,16,16,0.4);
      .subtitle { font-size:75%; }
    }
}
figure { margin-bottom: 2rem; }

form { display:grid; gap:$gap;
  button { cursor: pointer; }
  label { cursor: pointer; opacity: 50%; position: relative; display: flex; justify-content: center; font-family: $serif; align-items: center;
    input { max-width: 100%; }
    input[type="radio"] { position: absolute; top:5px; left:5px; transform:scale(1.5); transform-origin: top left; }
    .text { text-align: center; }
    span { line-height: 90%;}
    small { font-size:0.9em; display:block; }
    .dark { color:#111; }
    &.active { opacity: 100%; }
    &.inactive { opacity: 20%; }
    transition: opacity 0.8s linear;
  }
  input[type="text"], 
  textarea { display:block; width:100%; font-size:2rem; padding:0.5em; background:rgba(0,0,0,0.75); color:rgb(64, 197, 34); border:1px solid rgb(43, 43, 43); font-family: $sans-serif; 
    &:placeholder { color:rgb(95, 119, 90); }
  }

  .options { display:grid; gap:$gap; 
    &[count="2"] { grid-template-columns: repeat(2,1fr);}
    &[count="3"] { grid-template-columns: repeat(3,1fr);}
    &[count="4"] { grid-template-columns: repeat(4,1fr);}
    &[count="5"] { grid-template-columns: repeat(5,1fr);}
  }

  .error-message { color:rgb(221, 85, 85); font-size: 130%; }

  .options.wider { margin-left: -100px; margin-right: -100px; }

  .likert { position: relative;
    &:before { content:""; background:blue; height:5px; @include position(absolute,16px,30px,null,30px); }

    .inside { width:100%;
      .text { text-align: center; font-size:1.75em; font-family: $sans-serif; line-height: 105%; }
    }
    .radio-holder {  text-align: center;
      input[type="radio"] { @include position(relative,unset,unset,unset,unset); display:inline-block; cursor:pointer; }
    }
  }


  .button-row { text-align: right;
    button { font-family: $sans-serif; padding:0.25em 0.75em; font-weight: 300; text-transform: uppercase; font-size:1.5rem; border:1px solid rgba(0,0,0,0.25); transition: opacity 0.3s linear;
      &[type="submit"] { background:#eee; color:#194d91;
        &:not([disabled]) {
          &:hover, &:focus { background:#194d91; color:#eee; }
        }
      }
      &[disabled] { opacity: 0.01; filter:grayscale(0.6); cursor: not-allowed; }
    }
  }
}


@import "questions/questions";