if testing === undefined
  - let testing = false
- const siteTitle = "SANE 🌀 SCIENCE"
- const siteURL = "https://ahoylemon.github.io/SANE"
- const description = "An Online Gaslighting Simulator"
- const d = new Date()
- const lastUpdated = d.toISOString()
