main.intro { min-height: 100vh; min-height:100vh; display:flex; align-items:center; justify-content:center; padding:$gap;
  background-color: #111;
  background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center;
  @media (min-width:721px) { background-image:url(../img/bg/plasmaball.jpg); }
  @media (max-width:720px) { background-image:url(../img/bg/plasmaball-smaller.jpg); }
} 
section.intro-screen { background:white; color:black; padding:$gap; box-shadow: 1em 1em 1em black, -2px -2px 2px black; max-width: 740px;
  h1 { font-size:clamp(2rem,7vw,3.5rem); color:#ee3a97; 
    color:magenta;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5), -1px -1px 0 rgba(0,0,0,0.5), 0.06em 0.06em 0 yellow, 0.12em 0.12em 0 #1009ee, 0.2em 0.2em 0 limegreen;
    }
  h2 { font-size:clamp(1.5rem,4.5vw,2.25rem); margin-bottom: 0.5rem; color:#343bff;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5), -1px -1px 0 rgba(0,0,0,0.5), 2px 2px 0 yellow, 4px 4px 0 fuchsia,6px 6px 0 #fb8e01;
  }
  p { max-width: 68ch; margin-left: auto; margin-right: auto; }
  .button-holder { text-align: center; 
    button.begin { font-family: $sans-serif; padding:0.25em 0.75em; font-weight: 300; text-transform: uppercase; font-size:1.5rem; border:1px solid rgba(0,0,0,0.25); transition: opacity 0.3s linear; background:#eee; color:#d01073; font-weight: 500;
      &:not([disabled]) { cursor: pointer;
        &:hover, &:focus { background:#d01073; color:#eee; }
      }
    }
  }
}