.outro { background:$white;
  header.diagnosis-header { background:$black; padding:$gap; display:grid; gap:$gap; color:$white;
    
    .diagnosis-text, 
    .button-holder { display: flex; align-items: center; }
    .text { font-size:1.25rem; }
    .button { font-size: 1rem; }

    @media (min-width:721px) { @include position(fixed,0,0,null,0); grid-template-columns: auto 1fr auto;
      .sticker { font-size:4vw; }
    }
    
    @media (max-width:720px) { padding-top:5rem;
      .sticker-holder { text-align: center; }
      .sticker { font-size:18vw; }
    }
    .loader {
      .dot { width: 12px; height: 12px; background:#555; }
    }
  }

  main { padding:$gap; min-height: 100vh; color:$black;
    @media (min-width:721px) { display:flex; align-items:center; justify-content:center; padding:4rem; padding-top:8rem; }
  }

  dl { font-size:1.25rem;
    dt { text-transform: uppercase; font-weight: $semibold; letter-spacing: 0.1em; font-size:110%; }
    .sticker-holder { text-align: center; }
    p { margin-bottom: 1.5em;
      code { background:rgba(0,0,0,0.1); color:#c31111; padding-left: 0.25em; padding-right: 0.25em; }
    }
  }

  button, .button { font-family: $sans-serif; padding:0.25em 0.75em; font-weight: 300; text-transform: uppercase; font-size:1.5rem; border:1px solid rgba(0,0,0,0.25); transition: opacity 0.3s linear; background:#eee; color:#194d91; font-weight: 500; text-decoration: none;
    &:not([disabled]) { cursor: pointer;
      &:hover, &:focus { background:#194d91; color:#eee; }
    }

    @media (min-width:721px) { 
      &:nth-child(1n+2) { margin-left: 0.5em; }
    }
    @media (max-width:720px) { width:100%; display: block; text-align: center; }
    &[href] { color:#aa0e83;
      &:not([disabled]) {
        &:hover, &:focus { background:#aa0e83; color:#eee; }
      }
    }
  }

  code { margin-bottom: 1em; }

  
  .sticker { background: red; color:white; text-shadow: 0.02em 0.02em 0.02em black, -1px -1px 1px black; display: inline-block; padding:0 0.25em; line-height: 100%; font-weight: 900; }

  section.diagnosis {
    .sticker { font-size:clamp(4rem, 18vw, 220px); }
    .button-holder { margin-top: $gap; }
    .calculating {
      .loader { padding:($gap * 4);
        .dot { width: 36px; height: 36px; }
      }
    }
    .score-summary { padding-top:$gap; padding-bottom: 1.25rem; }
    
  }

}

@keyframes slide {
  0% { transform: scale(1); }
  20% { transform: scale(1); opacity: 1; }
  50% { opacity: 0; transform: scale(2); }
  80% { transform:scale(1); opacity: 1; }
  100% { transform:scale(1) }
}

.loader {
  text-align: center;
}

.dot {
	
	background: #3ac;
	border-radius: 100%;
	display: inline-block;
	animation: slide 2.5s infinite;
  &:nth-child(1) {
		animation-delay: 0.25s;
		background: #32aacc;
	}
	&:nth-child(2) {
		animation-delay: 0.5s;
		background: #64aacc;
	}
	&:nth-child(3) {
		animation-delay: 0.75s;
		background: #96aacc;
	}
	&:nth-child(4) {
		animation-delay: 1s;
		background: #c8aacc;
	}
	&:nth-child(5) {
		animation-delay: 1.25s;
		background: #faaacc;
	}
}


footer.by-lemon { background:$lemonYellow; color:$lemonBlack; padding:($gap * 4) ($gap * 2);
  
  .content { display:grid; grid-template-columns: 1fr 37vw;
    h3 { font-family: $sans-serif; font-weight: $ultrabold; text-align: right; font-size: 4.25vw;
      transform: translate(17%,17%);
    }
  }
  .lemonlink { color:currentColor; text-decoration: none; 
    &:hover, &:focus {
      h3 span { color: $lemonOrange; text-decoration: underline; }
    }
  }
  .issue-prompt { text-align: center; font-size:1.25rem;
    
  }
}