.outro { min-height: 100vh; background:white; color:black; min-height:100vh; 
  @media (min-width:721px) { display:flex; align-items:center; justify-content:center; padding:4rem; }
  header.diagnosis-header { background:$black; padding:$gap; display:grid; gap:$gap; color:$white;
    
    .diagnosis-text, 
    .button-holder { display: flex; align-items: center; }
    .text { font-size:1.25rem; }
    .button { font-size: 1rem; }

    @media (min-width:721px) { @include position(fixed,0,0,null,0); grid-template-columns: auto 1fr auto;
      .sticker { font-size:4vw; }
    }
    
    @media (max-width:720px) { padding-top:5rem;
      .sticker-holder { text-align: center; }
      .sticker { font-size:18vw; }
    }
  }

  main { padding:$gap; }


  dl { font-size:1.25rem;
    dt { text-transform: uppercase; font-weight: $semibold; letter-spacing: 0.1em; font-size:110%; }
    .sticker-holder { text-align: center; }
    p { margin-bottom: 1.5em;
      code { background:rgba(0,0,0,0.1); color:#c31111; padding-left: 0.25em; padding-right: 0.25em; }
    }
  }

  button, .button { font-family: $sans-serif; padding:0.25em 0.75em; font-weight: 300; text-transform: uppercase; font-size:1.5rem; border:1px solid rgba(0,0,0,0.25); transition: opacity 0.3s linear; background:#eee; color:#194d91; font-weight: 500; text-decoration: none;
    &:not([disabled]) { cursor: pointer;
      &:hover, &:focus { background:#194d91; color:#eee; }
    }

    @media (min-width:721px) { 
      &:nth-child(1n+2) { margin-left: 0.5em; }
    }
    @media (max-width:720px) { width:100%; display: block; text-align: center; }
    &[href] { color:#aa0e83;
      &:not([disabled]) {
        &:hover, &:focus { background:#aa0e83; color:#eee; }
      }
    }
  }

  
  .sticker { background: red; color:white; text-shadow: 0.02em 0.02em 0.02em black, -1px -1px 1px black; display: inline-block; padding:0 0.25em; line-height: 100%; font-weight: 900; }
  // code { font-size: 2.25em;}

  section.diagnosis {
    .sticker { font-size:clamp(4rem, 18vw, 220px); }
    .button-holder { margin-top: $gap; }
  }
}

