.rorschach {
  .options {
    li { 
      &:nth-child(1) { transform: translate(10px,10px) rotate(-4deg); }
      &:nth-child(2) { transform: translate(-8px,6px) rotate(2deg); }
      &:nth-child(3) { transform: translate(2px,-16px) rotate(-1.3deg); }
      &:nth-child(4) { transform: translate(-9px,3px) rotate(2.7deg); }
    }
  }
}

.you-think { 
  .options {
    // label { height: 4rem; background:#111; font-size:2em; }
  }
  .sane-holder { position: relative;
    .sane { opacity: 1; }
    .crazy { position: absolute; top:0; left:0; opacity: 0; }
  }

  &.crazy {
    .sane-holder {
      .sane { opacity: 0; }
      .crazy { opacity: 1; }
    }
  }

}

.food-happy {
  .options {
    label { cursor: pointer; opacity: 50%; position: relative; display: flex; justify-content: center; font-family: $serif; align-items: center;
      padding:0.5em 1.5em; color:$white; font-size:1.25em; background:rgba(0,0,0,0.45);
      &.active { background-color: rgba(14, 11, 106, 0.85); opacity: 1; }
    }
  }
}


.favorite-color {
  label { height:8rem; }
  span { font-size:3rem; font-weight: $semibold; display:block; }
}


.how-many-drinks {
  form { grid-template-columns: 1fr 6em; gap:($gap * 2);
    input { width:100%; }
    input[type="range"] { height: 3rem; }
    .readout { font-family:monospace; font-size:3.7rem; line-height: 100%;
      &.warning { color:orange; }
    }
  }
}



.your-name { 
  input { font-family:$sans-serif; width:100%; font-size:2rem; padding:0.5em; text-align: center; }
}

.ashamed {
  .options { display:grid; grid-template-columns: repeat(4,1fr);}
}

.enter-code {
  dt { position: relative; user-select: none;
    &:after { @include position(absolute,-15px,-15px,-15px,-15px); content:""; display:block; }
    tt { transform: scale(1.4); display:inline-block; padding-left:0.65em; padding-right: 0.65em; }
  }
  .error-message { position: relative; user-select: none;
    &:after { @include position(absolute,-15px,-15px,-15px,-15px); content:""; display:block; }
    tt { transform: scale(1.4) translateY(-0.1em); display:inline-block; padding-left:0.65em; padding-right: 0.65em; }
  }

  // label { padding:0.5em 1.5em; color:$white; font-size:1.25em; background:rgba(0,0,0,0.45); opacity:0.85;
  //   &.active { background-color:rgba(14, 11, 106, 0.85); opacity: 1; }
  //   &.inactive { opacity:0.35; }
  // }

  .follow-up-questions {
    .field-title { margin-bottom: 0.35em; }
    .button-row { margin-top:$gap; }
  }
}

.breathe-normally {
  dt {
    .subtitle { font-size:65%; line-height: 140%; }
  }
  
  .progress-and-readout { display:grid; grid-template-columns: 1fr 7rem; gap:$gap;
    input[type="number"] { font-family: $font-family; color:$copy; background:transparent; border:none; font-size:3rem; text-align: right; display:block; width: 100%; max-width: 100%; appearance: textfield; -moz-appearance: textfield; }
    progress { height:4rem; width:100%; display:block; appearance: none; background:rgba(0,0,0,0.15);
      &::-webkit-progress-value { background:$green; }
      &::-webkit-progress-bar { background:rgba(0,0,0,0.35); box-shadow: inset 0 0 9px black; }
      &::-moz-progress-bar { background:$green; }
    }
    .readout { font-family: monospace; color:$green;
      .big { font-size:3.9rem; line-height: 100%;}
      .small { font-size:1.6rem; line-height: 100%;}
    }
  }
  form {
    label { cursor: pointer; opacity: 50%; position: relative; display: flex; justify-content: center; align-items: center;
      padding:0.5em 1.5em; color:$white; font-size:1.25em; background:rgba(0,0,0,0.45); opacity:0.85;
      &.active { background-color: rgba(14, 11, 106, 0.85); }
    }
  }
  .button-row { display: grid; grid-template-columns: 1fr 200px;
    .help-text { color:$error; text-align: left; }
  }
}

@keyframes flashinglight {
  0% { background:rgba(0,0,0,0.8); }
  16% { background:rgba(0,0,0,0.8); border-color:white; }
  17% { background:yellow; }
  19% { border-color:yellow; }
  21% { background:yellow; }
  22% { background:rgba(0,0,0,0.8); border-color:white; }

  38% { background:rgba(0,0,0,0.8); border-color:white; }
  39% { background:yellow; }
  40% { border-color:yellow; }
  41% { background:yellow; }
  42% { background:rgba(0,0,0,0.8); border-color:white; }

  58% { background:rgba(0,0,0,0.8); border-color:white; }
  59% { background:yellow; }
  60% { border-color:yellow; }
  61% { background:yellow; }
  62% { background:rgba(0,0,0,0.8); border-color:white; }

  78% { background:rgba(0,0,0,0.8); border-color:white; }
  79% { background:yellow; }
  80% { border-color:yellow; }
  81% { background:yellow; }
  82% { background:rgba(0,0,0,0.8); border-color:white; }

  100% { background:rgba(0,0,0,0.8); border-color:white; }
}


.how-many-lights {
  .circle { width:25vw; height:25vw; border:2rem solid white; border-radius: 50%; margin-left: auto; margin-right: auto; background:rgba(0,0,0,0.8); 
    &.flashing { animation-name: flashinglight; animation-duration: 7s; animation-timing-function: linear; animation-iteration-count: 1; }
  }
}