form { display:grid; gap:$gap;
  button { cursor: pointer; }

  // Radio Holder (mainly)
  label { cursor: pointer; opacity: 50%; position: relative; display: flex; justify-content: center; font-family: $serif; font-family: $sans-serif; align-items: center;
    input { max-width: 100%; }
    input[type="radio"] { position: absolute; top:5px; left:5px; transform:scale(1.5); transform-origin: top left; }
    input[type="checkbox"] { position: absolute; top:5px; left:5px; transform:scale(1.5); transform-origin: top left; }
    .text { text-align: center; }
    span { line-height: 90%;}
    small { font-size:0.9em; display:block; }
    .dark { color:#111; }
    &.active { opacity: 100%; }
    &.inactive { opacity: 20%; }
    transition: opacity 0.8s linear;
  }
  input[type="number"].simple { appearance: textfield; -moz-appearance: textfield; }

  input[type="text"], 
  textarea { display:block; width:100%; font-size:2rem; padding:0.5em; background:rgba(0,0,0,0.75); color:$white; border:2px solid rgb(43, 43, 43); font-family: $sans-serif;  outline: none;
    &::placeholder { color:rgb(95, 119, 90); }
    &:focus { border-color:$valid; color:lighten($valid,50%);
      &::placeholder { color:rgba(158, 197, 149, 0.75); }
      &:invalid { border-color:$error; color:lighten($error,30%); }
    }
    
  }
  input[type="number"],
  input[type="password"] { background:rgba(0,0,0,0.75); color:rgb(64, 197, 34); border:2px solid rgb(43, 43, 43); outline:none;
    &::placeholder { color:rgb(95, 119, 90); }
    &:focus { border-color:rgb(64, 197, 34); }
  }

  // Option Grid
  .options { display:grid; gap:$gap; 
    &[count="2"] { grid-template-columns: repeat(2,1fr);}
    &[count="3"] { grid-template-columns: repeat(3,1fr);}
    &[count="4"] { grid-template-columns: repeat(4,1fr);}
    &[count="5"] { grid-template-columns: repeat(5,1fr);}
  }

  [span="1"] { grid-column: span 1;}
  [span="2"] { grid-column: span 2;}
  [span="3"] { grid-column: span 3;}
  [span="4"] { grid-column: span 4;}
  [span="5"] { grid-column: span 5;}

  .simple-options {
    label { padding:0.5em 1.5em; color:$white; font-size:1.25em; background:rgba(0,0,0,0.45); opacity:0.65; height: 100%;
      &.active { background-color:$activeLabelBG; opacity: 1; }
      &.inactive { opacity: 0.4; }
    }
  }


  // Drag List
  .draglist { 
    > * { display:grid; grid-template-columns: 1fr; gap:5px; }
    .item { background:$white; color:$black; display:grid; gap:10px; font-size:1.25rem; grid-template-columns: 3em 1fr; cursor: ns-resize; transition: transform 0.5s; user-select: none;
      &.disabled { cursor: default; }
      &.ghost { opacity: 0.5; background: #c8ebfb; }
    }
    .order-holder { text-align: center;
      .order { display:inline-block; min-width: 3em; text-align: center; background:$black; color:$white; font-weight: 900; }
    }

    .flip-list-move {
      transition: transform 0.5s;
    } 
    
    

  }

  .error-message { color:$error; font-size: 130%;
    &.centered { text-align: center; }
  }

  .options.wider { margin-left: -100px; margin-right: -100px; }

  // Likert Scale
  .likert { position: relative;
    &:before { content:""; background:blue; height:5px; @include position(absolute,16px,30px,null,30px); }

    .inside { width:100%;
      .text { text-align: center; font-size:1.75em; font-family: $sans-serif; line-height: 105%; }
    }
    .radio-holder {  text-align: center;
      input[type="radio"] { @include position(relative,unset,unset,unset,unset); display:inline-block; cursor:pointer; }
    }
  }

  // Enter Code
  .code-holder { text-align: center;
    input { font-family: monospace; font-size:3rem; width:9ch; padding:0.25em 0.75em; display: inline-block; text-transform: uppercase; }
  }


  // Submit / Cancel Buttons
  .button-row { text-align: right;
    &.split { display:grid; grid-template-columns: 1fr auto; gap:($gap * 2);
      *:first-child { text-align: left; }
      *:last-child { text-align: right; }
    }

    .help-text {
      .error { color:$error; font-size:125%; }
    }

    button { font-family: $sans-serif; padding:0.25em 0.75em; font-weight:$semibold; text-transform: uppercase; font-size:1.5rem; border:1px solid rgba(0,0,0,0.25); transition: opacity 0.3s linear;
      &[type="submit"] { background:#eee; color:#194d91;
        &:not([disabled]) {
          &:hover, &:focus { background:#194d91; color:#eee; }
        }
      }

      &[type="reset"] { background:#eee; color:#940808;
        &:not([disabled]) {
          &:hover, &:focus { background:#940808; color:#eee; }
        }
      }
      &[disabled] { opacity: 0.01; filter:grayscale(0.6); cursor: not-allowed; }

    }
  }

  // Character Count
  .character-count { text-align: left !important; font-family: monospace;
    .min, .max { padding-top:1em;}
    .current { font-size:200%; padding-left: 0.25em; padding-right: 0.25em;}
    &.has-error { 
      .current { color:$error; }
    }
    &.too-short {
      .min { color:$error; }
    }
  }
}