$gap:20px;

$display-font:  'Zen Dots', cursive;
$sans-serif: 'Space Grotesk', sans-serif;
$serif: 'Caudex', serif;

$font-family:$sans-serif;
$headline:$display-font;


$copy: #eee;

$green: rgb(64, 197, 34);
$error: rgb(221, 85, 85);
$activeLabelBG: rgba(14, 11, 106, 0.85);