- var pageTitle = null;
include partials/_variables
include partials/_mixins

doctype html
html(lang="en")
  
  include partials/_head.pug
    
  body
    #app(v-cloak)

      main(style="min-height:100vh; display:flex; align-items:center; justify-content:center; padding:calc(2rem + 35vh) 2rem 2rem 2rem;")
        .inner
          .questions
            // Multiple Choice
            template(v-if="current.question == 1")
              include questions/_favorite-color.pug
            template(v-if="current.question == 2")
              include questions/_how-many-drinks.pug

    include partials/_javascripts