- var pageTitle = null;
include partials/_variables
include partials/_mixins

doctype html
html(lang="en")
  
  include partials/_head.pug
  include partials/_mixins.pug
    
  body
    #app(v-cloak)

      include partials/_aside.pug

      main(style="min-height:100vh; display:flex; align-items:end; justify-content:center; padding:4rem;")
        .inner
          .questions
            // Multiple Choice
            template(v-if="current.question == 1")
              include questions/_how-many-drinks.pug
            template(v-if="current.question == 2")
              include questions/_your-name.pug
            template(v-if="current.question == 3")
              include questions/_favorite-color.pug
            template(v-if="current.question == 4")
              include questions/_rorschach.pug
            template(v-if="current.question == 5")
              include questions/_you-think.pug
            template(v-if="current.question == 6")
              include questions/_sink.pug
            template(v-if="current.question == 7")
              include questions/_food-happy.pug
            template(v-if="current.question == 8")
              include questions/_ashamed.pug 
            template(v-if="current.question == 9")
              include questions/_hats.pug
            template(v-if="current.question == 10")
              include questions/_love-object.pug
            template(v-if="current.question == 11")
              include questions/_enter-code-1.pug
            template(v-if="current.question == 12")
              include questions/_enter-code-2.pug
            template(v-if="current.question == 13")
              include questions/_breathe-normally.pug
            template(v-if="current.question == 14")
              include questions/_tongue.pug
            template(v-if="current.question == 15")
              include questions/_rambling-question.pug
            template(v-if="current.question == 16")
              include questions/_how-many-lights.pug
            template(v-if="current.question == 17")
              include questions/_hearing-music.pug
            template(v-if="current.question == 18")
              include questions/_why-test.pug
            template(v-if="current.question == 19")
              include questions/_your-prediction.pug
            template(v-if="current.question == 20")
              include questions/_sort-cities.pug

    include partials/_javascripts 