- let testing = false;
- let pageTitle = null;
include partials/_variables
include partials/_mixins

doctype html
html(lang="en")
  
  include partials/_head.pug
  include partials/_mixins.pug
    
  body
    #app(v-cloak)

      include partials/_aside.pug

      main.intro(v-if="current.interface == 'intro'")
        include screens/_intro.pug

      main.questions(v-if="current.interface == 'questions'")
        include screens/_questions.pug

      .outro(v-if="current.interface == 'outro'")
        include screens/_outro.pug

    include partials/_javascripts
    include partials/_schema.pug