section.intro-screen

  h1 This is the science of sanity.
  p Here at sane.science, we will provide a legitimate determination as to whether or not you should be declared #[strong SANE]. If you are declared #[strong SANE], you will have the opportunity to receive a sticker. This sticker is only available to those who have been declared #[strong SANE] using our scientific method.
  h2 This is a gaslighting simulator.
  p In an effort to make our determination, we will ask you a series of questions. We will not make it easy to answer. Expect things to get uncomfortable.
  p When you are ready, click the button below.
  .button-holder
    button.begin(type="button" @click="beginExam()") Begin The Exam