header.diagnosis-header
  .sticker-holder
    .calculating(v-if="current.diagnosis =='calculating'")
      .loader
        .dot
        .dot
        .dot
        .dot
        .dot
    .sticker(v-else) {{current.diagnosis}}
  .diagnosis-text
    .text(v-if="ui.diagnosis.sanityScore < 0") Calculating your sanity...
    .text(v-else) #[strong {{answers.yourName}}], our scientific algorithm has given you a sanity score of #[code {{ui.diagnosis.sanityScore +'%' }}].
  .button-holder
    a.button(:href="stickerURL" v-if="current.diagnosis == 'SANE'") Get A Sticker

main#DiagnosisMain
  .inner

    section.diagnosis
      a(name="Diagnosis")
      dl.diagnosis
        dt Your diagnosis:

        dd(v-if="current.diagnosis =='calculating'")
          .calculating
            .loader
              .dot
              .dot
              .dot
              .dot
              .dot


        dd(v-else)
          .sticker-holder(v-if="current.diagnosis == 'INSANE' || current.diagnosis == 'SANE'")
            .sticker {{current.diagnosis}}
          .score-summary(v-if="ui.diagnosis.sanityScore > 0")
            span You have been given a Sanity Score of #[code {{ui.diagnosis.sanityScore +'%' }}], offically labeling you as #[strong {{current.diagnosis}}].

          .button-holder(v-if="!ui.diagnosis.showHow")
            button(type="button" @click="showHow()") How was this determined?
            a.button(:href="stickerURL" v-if="current.diagnosis == 'SANE'") Get A Sticker

    section.how(v-if="ui.diagnosis.showHow")
      dl
        dt Q: How was this determined?
        dd 
          p A: #[strong Randomly].
          p
            | After completing the exam, you were randomly assigned a #[code sanityScore] of #[code {{ui.diagnosis.sanityScore +'%' }}]. This assigned you the ranking of #[strong {{current.diagnosis}}].
          p 
            | None of your exam questions were considered when assigning your #[code sanityScore].
          pre
            code(class="language-js").
              function calculateSanity() {
                const sanityBarrier = 50;
                const sanityScore = Math.floor(Math.random() * 100);
                // In this case, sanityScore was {{ui.diagnosis.sanityScore}}
                if (sanityScore < sanityBarrier) {
                  current.diagnosis = "INSANE";
                } else {
                  current.diagnosis = "SANE";
                }
              }
          p If you'd like, you can recalculate your score.
          p
            button.button(type="button" @click="determineSanity()") Recalculate Sanity
            a.button(:href="stickerURL" v-if="current.diagnosis == 'SANE'") Get A Sticker

footer.by-lemon(v-if="current.diagnosis && current.diagnosis != 'calculating'")
  a.lemonlink(href="https://ahoylemon.xyz")
    .content
      h3 This exam is 
        span by Lemon.
      img(src="/svg/lemon.svg" alt="Lemon")