.favorite-color
  dl.question
    dt 
      .title Which of these colors calms your thoughts?
    dd
      form(@submit.prevent="answerQuestion('favoriteColor', 'Favorite Color?', answers.favoriteColor)")
        ul.options(:count="3")
          li(v-for="(option, key) in questions.colors.options") 
            label(:style="{'background-color':option.hex}" :class="{'active': option.name == answers.favoriteColor, 'inactive': (answers.favoriteColor && option.name != answers.favoriteColor)}")
              input(type="radio" :value="option.name" v-model="answers.favoriteColor" @change="changeFavoriteColor(option.opposite)")
              .text
                span(:class="{ 'dark': option.light }") {{option.name}}
                small(v-if="option.small") {{option.small}}
        .button-row
          button(type="submit" :disabled="!answers.favoriteColor") Proceed