dl.favorite-color
  dt 
    .title Which of these colors calms your thoughts?
  dd
    forn
      ul.options(:count="questions[0].options.length")
        li(v-for="(option, key) in questions[0].options") 
          label(:style="{'background-color':option.hex}" :class="{'active': option.name == answers.favColor, 'inactive': (answers.favColor && option.name != answers.favColor)}")
            input(type="radio" :value="option.name" v-model="answers.favColor")
            .text
              span(:class="{ 'dark': option.light }") {{option.name}}
              small(v-if="option.small") {{option.small}}