.how-many-drinks
  dl.question
    dt 
      .title How many alcoholic drinks do you #[strong need] to have in a week?
    dd
      form(@submit.prevent="answerQuestion('howManyDrinks', 'How Many Drinks?', answers.howManyDrinks)")
        .field
          input(type="range" :min="ui.howManyDrinks.min" :max="ui.howManyDrinks.max" v-model="answers.howManyDrinks")
        .field
          .readout(:class="{ 'warning': answers.howManyDrinks >= (ui.howManyDrinks.max * 0.8)}") {{computedDrinksOutput}}
        .button-row.split(style="grid-column: span 2")
          .error-message
            span(v-if="computedDrinksError") {{computedDrinksError}}
          button(type="submit" :disabled="answers.howManyDrinks < ui.howManyDrinks.min") Proceed