.how-many-drinks
  dl.question
    dt 
      .title How many alcoholic drinks do you #[strong need] to have in a week?
    dd
      form(@submit.prevent="answerQuestion('howManyDrinks')")
        .field
          input(type="range" :min="ui.howManyDrinks.min" :max="ui.howManyDrinks.max" v-model="answers.howManyDrinks")
        .field
          input(type="number" :min="ui.howManyDrinks.min" :max="ui.howManyDrinks.max" v-model="answers.howManyDrinks" readonly disabled)
        .error-message
          span {{computedDrinksError}}
        .button-row
          button(type="submit" :disabled="answers.howManyDrinks < ui.howManyDrinks.min") Proceed