.rambling-question
  dl.question(v-if="!ui.ramblingQuestion.followUp.display")
    dt
      .subtitle Given that each person lives their life completely within their own mind, is it possible to know the mind of another? That is to say, while we are all trapped within our own singular experiences, can we ever truly empathize with the experiences of another person? Is it truly impossible to know another human being? And if so, does that make us all alone?
    dd
      form(@submit.prevent="answerQuestion('ramblingQuestion', 'Rambling Question:', answers.ramblingQuestion)")
        ul.options.simple-options(:count="questions.ramblingQuestion.options.length")
          li(v-for="option in questions.ramblingQuestion.options")
            label(:class="{'active': option.text == answers.ramblingQuestion, 'inactive': (answers.ramblingQuestion && option.text != answers.ramblingQuestion)}" )
              input(type="radio" :value="option.text" v-model="answers.ramblingQuestion")
              .text
                span {{option.text}}
        .button-row
          button(type="submit" :disabled="!answers.ramblingQuestion") Proceed
    
  dl.question(v-if="ui.ramblingQuestion.followUp.display")
    dt
      .subtitle You don't know much, do you?
    dd
      form(@submit.prevent="answerQuestion('ramblingQuestionFollowUp')")
        ul.options.simple-options(count="1")
          li
            label(:class="{'active': 'I’m sorry, I don’t.' == answers.ramblingQuestionFollowUp }" )
              input(type="radio" value="I’m sorry, I don’t." v-model="answers.ramblingQuestionFollowUp")
              .text
                span I'm sorry, I don't.
        .button-row
          button(type="submit" :disabled="!answers.ramblingQuestionFollowUp") Proceed