.rorschach
  dl.question
    dt 
      .title Which of these images reminds you of your mother?
    dd
      form(@submit.prevent="answerQuestion('rorschach')")
        ul.options.wider(:count="questions.rorschach.options.length")
          li(v-for="option,key in questions.rorschach.options")
            label(:class="{'active': answers.rorschach == option.text, 'inactive': answers.rorschach && answers.rorschach != option.text }")
              input(type="radio" :value="option.text" v-model="answers.rorschach")
              img(:src="'img/rorschach/'+(key+1)+'.jpg'")
        .button-row
          button(type="submit" :disabled="!answers.rorschach") Proceed