.sink
  figure
    picture
      img(src="img/sink.jpg" alt="A messy sink")
  dl.question
    dt 
      .title Why did you let it get like this?
    dd
      form(@submit.prevent="answerQuestion('sink')")
        .field
          textarea(v-model="answers.sink" :minlength="ui.sink.min" :maxlength="ui.sink.max" placeholder="Explain your reasoning in this area.")
        .button-row
          button(type="submit" :disabled="!answers.sink") Proceed