.you-think(:class="{'crazy': ui.youThink.saneHover }")
  dl.question
    dt 
      .title Do you think you are 
        span.sane-holder 
          span.sane sane?
          span.crazy crazy
    dd
      form(@submit.prevent="answerQuestion('youThink')")
        ul.options(count="2")
          li(v-for="option in questions.youThink.options" @mouseover="saneHover(true)" @mouseleave="saneHover(false)")
            label(:class="{'active': option.text == answers.youThink, 'inactive': (answers.youThink && option.text != answers.youThink)}" )
              input(type="radio" :value="option.text" v-model="answers.youThink")
              .text
                span {{option.text}}
        .button-row
          button(type="submit" :disabled="!answers.youThink") Proceed